div {
    background-color: aquamarine; /* Цвет фона блока аквамариновый */
    padding: 10px; /* Отступы внутри блока 10 пикселей */
    text-align: center; /* Выравнивание текста по центру */
}

/* Стили для изображений при наведении мыши */
img:hover {
    transform: scale(1.1); /* Масштабирование изображения при наведении */
}

/* Стили для футера */
footer {
    background-color: #333; /* Цвет фона футера темно-серый */
    color: #fff; /* Цвет текста белый */
    padding: 10px; /* Внутренние отступы 10 пикселей */
    text-align: center; /* Выравнивание текста по центру */
    position: fixed; /* Фиксированное положение */
    bottom: 0; /* Прижимаем к нижнему краю */
    width: 100%; /* Ширина 100% относительно родительского элемента */
}