div {
    background-color: aquamarine; /* Цвет фона блока аквамариновый */
    padding: 10px; /* Отступы внутри блока 10 пикселей */
    text-align: center; /* Выравнивание текста по центру */
}

/* Стили для изображений при наведении мыши */
img:hover {
    transform: scale(1.1); /* Масштабирование изображения при наведении */
}
