h1 {
    color: blue; /* Цвет текста синий */
    font-size: 24px; /* Размер шрифта 24 пикселя */
    font-family: Arial, sans-serif; /* Шрифт Arial или аналогичный шрифт без засечек */
    text-align: center; /* Выравнивание текста по центру */
}

/* Стили для блока div */
div {
    background-color: lightgray; /* Цвет фона блока светло-серый */
    padding: 10px; /* Отступы внутри блока 10 пикселей */
    text-align: center; /* Выравнивание текста по центру */
}